/*-------------for slide ------------- */
@media only screen and (max-width: 576px) {
    .carousel-caption {
        font-size: 0px;
        font-weight: 400;
        padding-bottom: 0px;
        padding-top: 40px;
    }

    .carousel-caption p {
        font-size: 10px;
        padding-bottom: 0px;
    }

    .carousel-caption button {
        font-size: 10px;

    }
}